/* styles.css */

::placeholder {
    color: #A9A9A9 !important; /* Light gray color */
    opacity: 1 !important; /* Set opacity to fully visible */
  }
  
  :-ms-input-placeholder { /* Microsoft Edge */
    color: #A9A9A9 !important; /* Light gray color */
  }
  